### required libraries

In [9]:
import pandas as pd

In [3]:
import csv

In [16]:
from __future__ import print_function, division

In [17]:
import nsfg

In [20]:
## reading pregnancy data
preg_df = nsfg.ReadFemPreg()

In [19]:
preg_df.head()

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb
0,1,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,8.8125
1,1,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,7.8750
2,2,1,NaN,NaN,NaN,NaN,5.0,NaN,3.0,5.0,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,9.1250
3,2,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,7.0000
4,2,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,6.1875

In [22]:
## columns in df
preg_df.columns

Index(['caseid', 'pregordr', 'howpreg_n', 'howpreg_p', 'moscurrp', 'nowprgdk',
       'pregend1', 'pregend2', 'nbrnaliv', 'multbrth',
       ...
       'laborfor_i', 'religion_i', 'metro_i', 'basewgt', 'adj_mod_basewgt',
       'finalwgt', 'secu_p', 'sest', 'cmintvw', 'totalwgt_lb'],
      dtype='object', length=244)

In [25]:
preg_df["pregordr"][2:6]

2    1
3    2
4    3
5    1
Name: pregordr, dtype: int64

In [26]:
preg_df.outcome.value_counts().sort_index()

1    9148
2    1862
3     120
4    1921
5     190
6     352
Name: outcome, dtype: int64

In [27]:
preg_df.pregordr.value_counts().sort_index()

1     5033
2     3766
3     2334
4     1224
5      613
6      308
7      158
8       78
9       38
10      17
11       8
12       5
13       3
14       3
15       1
16       1
17       1
18       1
19       1
Name: pregordr, dtype: int64

## Exercises

the birthord column, print the value counts

In [28]:
preg_df.birthord.value_counts().sort_index()

1.0     4413
2.0     2874
3.0     1234
4.0      421
5.0      126
6.0       50
7.0       20
8.0        7
9.0        2
10.0       1
Name: birthord, dtype: int64

In [30]:
preg_df.birthord.isnull().sum()

4445

prglngth column, print the value counts

In [31]:
preg_df.prglngth.value_counts().sort_index()

0       15
1        9
2       78
3      151
4      412
5      181
6      543
7      175
8      409
9      594
10     137
11     202
12     170
13     446
14      29
15      39
16      44
17     253
18      17
19      34
20      18
21      37
22     147
23      12
24      31
25      15
26     117
27       8
28      38
29      23
30     198
31      29
32     122
33      50
34      60
35     357
36     329
37     457
38     609
39    4744
40    1120
41     591
42     328
43     148
44      46
45      10
46       1
47       1
48       7
50       2
Name: prglngth, dtype: int64

To compute the mean of a column, you can invoke the mean method on a Series. For example, here is the mean birthweight in pounds:

In [34]:
preg_df.totalwgt_lb.mean()

7.265628457623368

In [37]:
[col for col in preg_df.columns if "wgt" in col]

['birthwgt_lb',
 'birthwgt_oz',
 'lobthwgt',
 'birthwgt_lb2',
 'birthwgt_oz2',
 'lobthwgt2',
 'birthwgt_lb3',
 'birthwgt_oz3',
 'lobthwgt3',
 'basewgt',
 'adj_mod_basewgt',
 'finalwgt',
 'totalwgt_lb']

Create a new column named totalwgt_kg that contains birth weight in kilograms. Compute its mean. Remember that when you create a new column, you have to use dictionary syntax, not dot notation.

In [40]:
preg_df["totalwgt_kg"] = preg_df["totalwgt_lb"].apply(lambda x: x*0.45359237)

In [42]:
preg_df["totalwgt_kg"].mean()

3.295633631632828